__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.env
*.sqlite3
staticfiles/
media/
.DS_Store
*.log

# Migraciones generadas (cada dev corre makemigrations localmente)
# Descomenta la siguiente línea si no quieres versionar migraciones:
# */migrations/*.py
# */migrations/__pycache__/
